*{
    margin: 0;
    /* background-color: #111; */
    /* color: white; */
}
.App{
    overflow-y: auto;
}
.main{
    display: flex;
}
.main-section{
    flex: 0.83;
}
.App::-webkit-scrollbar{
    display: none;
}